body {
    background-color: black;
}

.jumbotron{
	background-color: black;
	color: white;
}

#searchBar{
	position: relative;
	left: 300px;
}

.jumbotron h1{
	font-weight: 900
	text-transform:uppercase;
	letter-spacing:3px;
	font-size: 50px;
	margin-top: -3%;
}

.jumbotron p{
	font-weight: 900
	text-transform:uppercase;
	letter-spacing:1px;
	font-size: 15px;
}

#movieSummary{
	color: white;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size: 10px;
	margin-top: 20px;
	text-align: center
}
.input-group{
	position: a;
	padding-left: 20%;
	margin-top: -10%;
}

#posterImg{
	margin-left: -15%;
	margin: 0 auto; 
	display: table;
	opacity: .8;
	box-shadow: 0 0 8px 8px black inset;
	margin-top: -139%;
	


}

#moviePoster {
	display: block; 
	/*float: left;*/
	width: 100%;
}

#spotify-player{
	margin-top: 10px;
}

.footer{
/*	position: fixed;
*/	bottom: 10%;
	padding-left: 20%;
	padding-right:20%;
}



/*#movieSummary {
    color: #a29f9f;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: -15%;
    text-align: center;
    }*/
